.fc-toolbar-title {
  padding-right: 10px;
  color: #3b82f6;
}

.fc-scrollgrid-sync-inner {
  color: #3b82f6;
}

.fc .fc-toolbar .fc-button.fc-today-button,
.fc .fc-toolbar .fc-button.fc-prev-button,
.fc .fc-toolbar .fc-button.fc-next-button {
  background-color: #3b82f6;
  color: white;
  border-radius: 2px;
  border: none;
  margin-left: 5px;
}
